header {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;

    .logo-holder {
        margin-top: 100px;
        height: 350px;
        background-image: url('../../assets/logobiel.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.4rem;
        width: 700px;
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        color: #253789;
        letter-spacing: 2px;

        .author {
            text-align: end;
        }
    }
}