header {
    width: 100vw;
    // position: absolute;
    // top: 0;
    // left: 0;
    // background-color: white;

    .logo-holder {
        // margin-top: 80px;
        height: 350px;
        background-image: url('../../assets/logobiel.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @media(max-width: 1050px) {
            width: 90%;
            margin: 100px auto 0;
        }

        @media(max-width: 650px) {
            margin-top: 0;
        }
    }

    .facts-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .fact {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 40px 10px 30px;

            img {
                width: 150px;
                height: 150px;
            }

            p {
                color: #253789;
                width: 80%;
                margin: 20px auto;
                text-align: center;
            }
        }
    }

    .header-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.4rem;
        width: 700px;
        margin: 20px auto;
        // position: absolute;
        // top: 450px;
        // left: 50%;
        // transform: translateX(-50%);
        z-index: 5;
        color: #253789;
        letter-spacing: 2px;

        @media(max-width: 1050px) {
            width: 80%;
            font-size: 1.4rem;
            top: 550px;
        }

        @media(max-width: 650px) {
            width: 80%;
            font-size: 0.8rem;
            top: 350px;
        }

        .author {
            text-align: end;
        }
    }

    
}