nav {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100vw;
    height: 100px;
    // background-color: rgba(0, 0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // z-index: 99;

    @media(max-width: 1050px) {
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }

    @media(max-width: 650px) {
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }

    .logo-holder {
        height: 80px;
        width: 180px;
        background-image: url('../../assets/logobiel.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 30px;
        position: relative;
        bottom: 10px;

        @media(max-width: 1050px) {
            height: 60px;
            margin-left: 20px;
        }

        @media(max-width: 1050px) {
            height: 55px;
            width: 160px;
            margin-left: 5px;
        }
    }

    ul {
        width: 820px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;

        @media(max-width: 1050px) {
            display: none;
        }

        li {
            list-style-type: none;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 1px;

            a {
                text-decoration: none;
                color: #253789;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}