.support-section {
    width: 100%;
    background-color: white;
    color: #253789;
    position: relative;


    .support-wrapper {
        width: 90%;
        max-width: 1000px;
        height: 250px;
        margin: 80px auto 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media(max-width: 1050px) {
            height: auto;
            margin: 0 auto 0;
        }

        @media(max-width: 650px) {
                margin: 0 auto 0;
        }

        .support-container {
            height: 150px;
            width: 600px;
            // border: 2px solid #253789;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 80px;

            @media(max-width: 1050px) {
                margin-left: 20px;
                position: relative;
                bottom: 40px;
            }

            @media(max-width: 650px) {
                height: auto;
                width: 90%;
                margin-left: 0;
                position: relative;
                bottom: 20px;
                z-index: 5;
            }
    
            h2 {
                margin-left: 20px;
                font-size: 2rem;
                

                @media(max-width: 650px) {
                    margin-left: 0;
                    margin-bottom: 20px;
                    font-size: 1.6rem;
                }
            }
    
            h3 {
                margin-left: 20px;
                font-size: 1.6rem;

                @media(max-width: 650px) {
                    margin-left: 0;
                    font-size: 1.2rem;
                }
            }
        }

        .support-graphic {
            width: 300px;
            height: 300px;
            background-image: url('../../assets/mk.jpg');
            background-position: center;
            background-size: cover;
            position: relative;
            bottom: 80px;

            @media(max-width: 1050px) {
                width: 350px;
                height: 350px;
                bottom: 20px;
            }

            @media(max-width: 650px) {
                width: 320px;
                height: 300px;
                bottom: 25px;
            }
        }

    }

    .support-buttons {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media(max-width: 1050px) {
            width: 90%;
        }
    }

    .support-text {
        font-size: 1.8rem;
        text-align: center;

        @media(max-width: 1050px) {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        @media(max-width: 1050px) {
            width: 90%;
            margin: 0 auto;
            font-size: 1.4rem;
        }
    }

    button {
        width: 340px;
        height: 50px;
        font-size: 1.6rem;
        color: white;
        background-color: #253789;
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        @media(max-width: 1050px) {
            width: 280px;
            height: 44px;
            font-size: 1.4rem;
        }

        @media(max-width: 1050px) {
            width: 260px;
            height: 42px;
            font-size: 1.2rem;
        }
    }
    
    .button-keeper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

}