.volunteer-section {
    height: auto;
    // padding-top: 100px;
    display: block;
    background-color: white;
    color: black;

    @media(max-width: 1050px) {
        // padding-top: 20px;
    }

    @media(max-width: 650px) {
        // padding-top: 20px;
    }

    .volunteer-text-box {
        width: 60%;
        margin: 30px auto 0;
        font-size: 1.3rem;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 500;

        @media(max-width: 1050px) {
            width: 70%;
            font-size: 1.2rem;
            line-height: 23px;
            margin: 0 auto;
        }

        @media(max-width: 650px) {
            width: 85%;
            font-size: 1.1rem;
            line-height: 22px;
            margin: 0 auto;
        }
    }

    .top-volunteer {
        margin: 90px auto 0;
    }

    .volunteer-text {
        text-indent: 50px;
        margin-bottom: 10px;
        text-align: justify;

        @media(max-width: 650px) {
            text-indent: 30px;
        }

        span {
            font-weight: 700;
        }

        
    }

    .last-volunteer {
        margin-bottom: 40px;
    }

    .volunteer-topic {
        // margin: 40px auto 40px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1.6rem;
        color: #253789;
        font-weight: 700;

        @media(max-width: 650px) {
            font-size: 1.2rem;
            margin: 30px 0 30px;
        }
    }
}

.volnav-section {
    width: 100%;

    .main-vol-pic {
        width: 800px;
        height: 600px;
        background-image: url('../../assets/aawol.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 40px auto 20px;
    }

    .vol-quote {
        width: 800px;
        margin: 0 auto 40px;
        font-size: 1.4rem;
        letter-spacing: 2px;
        line-height: 24px;
        text-align: center;
        color: #253789;
        font-weight: 700;
    }

    .vol-links {
        width: 1000px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .vol-link {
            width: 400px;
            height: 260px;
            margin-bottom: 40px;
            background-image: url('../../assets/aawol.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .info {
            background-image: url('../../assets/aamen.jpg');
        }

        .kids {
            background-image: url('../../assets/aadzieci.jpg');
        }

        .junior {
            background-image: url('../../assets/aajun.jpg');
        }

        .senior {
            background-image: url('../../assets/aanes.jpg');
        }
    }
}