.volunteer-section {
    height: auto;
    padding-top: 100px;
    display: block;
    background-color: white;
    color: black;

    @media(max-width: 1050px) {
        padding-top: 20px;
    }

    @media(max-width: 650px) {
        padding-top: 20px;
    }

    .volunteer-text-box {
        width: 60%;
        margin: 30px auto 0;
        font-size: 1.3rem;
        line-height: 25px;
        letter-spacing: 1px;
        font-weight: 500;

        @media(max-width: 1050px) {
            width: 70%;
            font-size: 1.2rem;
            line-height: 23px;
            margin: 0 auto;
        }

        @media(max-width: 650px) {
            width: 85%;
            font-size: 1.1rem;
            line-height: 22px;
            margin: 0 auto;
        }
    }

    .top-volunteer {
        margin: 90px auto 0;
    }

    .volunteer-text {
        text-indent: 50px;
        margin-bottom: 10px;
        text-align: justify;

        @media(max-width: 650px) {
            text-indent: 30px;
        }

        span {
            font-weight: 700;
        }

        
    }

    .last-volunteer {
        margin-bottom: 20px;
    }

    .volunteer-topic {
        margin: 20px 0 20px;
        font-size: 1.4rem;
        color: #253789;
        font-weight: 700;

        @media(max-width: 650px) {
            font-size: 1.2rem;
            margin: 30px 0 30px;
        }
    }
}

