@import './components/home.scss';
@import './components/navbar.scss';
@import './components/about.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.body-wrapper {
    width: 100vw;
    position: relative;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}