@import './components/home.scss';
@import './components/navbar.scss';
@import './components/about.scss';
@import './components/contact.scss';
@import './components/volunteer.scss';
@import './components/support.scss';
@import './components/hamburger.scss';
@import './components/sidemenu.scss';
@import './components/footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.body-wrapper {
    width: 100vw;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}